body {    
    background-color: lightblue; 
}

#gameField {    
    width: 730px;
    height: 500px;
    background-color: darkcyan;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
    padding-top:25px;        
}

#description {
    font-variant: small-caps;
    font-size: 1.3em;
    color: ivory;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    width: 880px;
    padding: 25px;
}

label {
    font-variant: small-caps;
    font-size: 1.3em;
    color: ivory;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    position: relative;
    left: 100px;
}

h2 {
    font-size: 4em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 2px 2px 0px darkgoldenrod;
    color: gold;    
    margin-bottom: 10px;
}

article {
    background-color: skyblue;
    width: 930px;
    height: 745px;
    margin-left: auto;
    margin-right: auto; 
}

a button, #start {
    width: 120px;
    height: 30px;
    border: 2px solid darkcyan;
    margin: 10px;
    background-color: lightblue;
    font-size: 1em;
    color: darkcyan;
    transition: 0.4s;
}
a button:hover, #start:hover {
    color: skyblue;
    background-color: darkslateblue; 
}