body {    
    background-color: lightblue; 
}

#gameField {
    display: flex;
    width: 1000px;
    height: 500px;
    background-color: darkcyan;
    text-align: center;
    margin-left: auto;
    margin-right: auto; 
}

#description {
    font-variant: small-caps;
    font-size: 1.3em;
    color: ivory;
    text-shadow: 1px 1px 1px black;
    text-align: center;
    width: 1150px;
    padding: 25px;
}

#title {
    font-size: 4em;
    text-align: center;
    font-variant: small-caps;
    text-shadow: 2px 2px 0px darkgoldenrod;
    color: gold;    
    margin-bottom: 10px;
}

article {
    background-color: skyblue;
    width: 1200px;
    height: 725px;
    margin-left: auto;
    margin-right: auto;
}

a button {
    width: 110px;
    height: 30px;
    border: 2px solid darkcyan;
    margin: 10px;
    position: relative;
    left: 980px;   
    background-color: lightblue;
    font-size: 1em;
    color: darkcyan;
    transition: 0.4s;
}
a button:hover {
    color: skyblue;
    background-color: darkslateblue; 
}


#MoveMe1, #MoveMe2, #MoveMe3, #MoveMe4, #MoveMe5, #MoveMe6,  
{
   border: solid;
   text-align: center;
}
#puzzle{
   display: inline-flex;
   flex-wrap:wrap;
  }
p{
  width:175px;
  height: auto;
}
section p img {
  width: 175px;
}

#footer {
    text-align: center;
    width: 1200px;
}